AIRFLOW_UID=501

# SMTP Configuration for Airflow Alerts
# WARNING: Do not use your regular password. Use a Google App Password (16 chars).
SMTP_USER=rise.mora@gmail.com
SMTP_PASSWORD=vqhmztdzgxpwnicd
SMTP_MAIL_FROM=rise.mora@gmail.com
